@{
    ViewData["Title"] = "Home Page";
    var time = DateTime.Now.ToString("hh:mm:ss ");
}
<style>
    table, th,td{
        border: 1px solid black;
        border-collapse:collapse;
    }
</style>
<div class="text-center">
    <h1 class="display-4">INFORMATION WEBSITE</h1>
    <br />
    <br />
    <table>
        <tr>
            <th>Item</th>
            <th>Favorite Fruits</th>
        </tr>
    <tr>
        <td>1</td>
        <td>Rambutan</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Mango</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Duhat</td>

    </tr>
</table>
</div>
<br />
<div>
    <form>
    <input type="text" name="Subject" placeholder="Subject" />
    <label><input type="checkbox" />"molave"</label>
    <label><input type="checkbox" />"Atlantika"</label>
    <label><input type="checkbox" />"Sitio gubat"</label><br />
    <textarea placeholder="Comment About My Self"></textarea>
    </form>
</div>
<br />
<h3>Favorite Song</h3>
<ul>
    <li>Complicated - Avril Lavigne</li>
    <li>When You're Gone - Avril Lavigne</li>
    <li>Back to December - Taylor Swift</li>
    <li>Alwayn - Bon Jovi</li>
</ul>